body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #afb4be48;
}
::-webkit-scrollbar-thumb {
  background: #bfc9ca;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfc9ca;
}

.selected_filter_btn {
  height: 40px;
  border: 1px solid #8A7CFF;
  padding: 8px 16px 8px 16px;
  padding-top: 5px;
  gap: 10px;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  border-radius: 6px 6px 0px 0px !important;
  color: #8A7CFF;
}

.not_selected_filter_btn {
  background-color: rgba(0, 0, 0, 0.02);
  height: 40px;
  border: 1px solid #CFCFCF;
  padding: 8px 16px 8px 16px;
  padding-top: 5px;
  gap: 10px;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato";
  border-radius: 6px 6px 0px 0px !important;
}
.not_selected_filter_btn::before,
.selected_filter_btn::before {
  width: 0px !important;
}
.fillwh {
  height: 100%;
  width: 100%;
}
.fillwh:hover {
  cursor: pointer;
}
.inpLabelstyle {
  margin-top: -30px;
}
.pointerOn {
}
.pointerOn:hover {
  cursor: pointer;
}

.ant-modal-confirm .ant-btn-primary {
  background-color: #8A7CFF !important;
}

.ant-modal-confirm .ant-btn-default:hover {
  color: #8A7CFF !important;
  border-color: #8A7CFF !important;
}

.ant-input:-webkit-autofill,
.ant-input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.ant-input[data-autocompleted] {
    background-color: transparent !important;
}