@import "tailwindcss";
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #afb4be48;
}
::-webkit-scrollbar-thumb {
  background: #eab840;
}

::-webkit-scrollbar-thumb:hover {
  background: #eab840;
}


.MuiPickersDay-root,
.MuiDayCalendar-weekDayLabel {
  font-size: 14px !important;
}