.siconbtn {
  margin: auto;
  height: 35px;
  width: 35px;
  padding: 5px;
  color:#ffffff;
  background-color: #201B37;
  margin-bottom: 3px;
}
.siconbtn-selected {
  margin: auto;
  height: 35px;
  width: 35px;
  padding: 5px;
  color:#ffffff;
  background-color: #8A7CFF;
  margin-bottom: 3px;
  border-radius: 3px;
}
.siconbtn:hover {
  margin: auto;
  height: 35px;
  width: 35px;
  padding: 5px;
  background-color: #8A7CFF;
  margin-bottom: 3px;
  border-radius: 3px;
}
.sidenavtooltip {
  background: #122a4e;
  color: #ffffff;
  font-size: 20px;
}

.settingsbtn {
  height: 27px;
  width: 27px;
  padding: 1.5px;
  background-color: transparent;
  padding-right: 9px;
}

.settingsbtn:hover {
  height: 27px;
  width: 27px;
  padding: 1.5px;
  background-color: transparent;
  padding-right: 9px;
}

.settings-menu-item {
  background-color: transparent;
  padding: 4px;
  margin-bottom: 7px;
  width: 100%;
}

.settings-menu-item :hover {
  background-color: #8A7CFF;
  padding: 4px;
  margin-bottom: 7px;
  width: 100%;
}
.ant-menu-item-selected {
  background-color: #F3F2FE !important;
}
